{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href='{% static "css/ui-lightness/jquery-ui-1.10.0.custom.min.css" %}' type="text/css" media="screen, projection">
<link rel="stylesheet" href='{% static "bootstrap/css/bootstrap.min.css" %}' media="screen">

<script type='text/javascript' src='{% static "knockout-2.2.1.js" %}'></script>
<script type='text/javascript' src='{% static "jquery-1.9.0.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/jquery-ui-1.10.0.custom.min.js" %}'></script>
<script type='text/javascript' src='{% static "js/upload/jquery.ui.widget.js" %}'></script>
<script type='text/javascript' src='{% static "js/upload/jquery.iframe-transport.js" %}'></script>
<script type='text/javascript' src='{% static "js/upload/jquery.fileupload.js" %}'></script>
<script type='text/javascript' src='{% static "jquery.cookie.js" %}'></script>
<style>


#todo-list .edit {
	display: none;
}

#todo-list .view {
	display: block;
}

#todo-list .editing .edit {
	display: block;
}

#todo-list .editing .view {
	display: none;
}

#tabs { height: 98%; }

#transaction_items .ui-selecting { background: #FECA40; }
#transaction_items .ui-selected { background: #F39814; color: white; }
#transaction_items { margin: 0; padding: 0;}
</style>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="#">Title</a>
					<ul id="global_nav" class="nav">
						<li><a href="#expenses">Expenses</a></li>
						<li><a href="#tabs-2">Aims</a></li>
						<li><a href="#transactions">Transactions</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12" id="global_nav_content">
				<div id="expenses">

					<div id="expense_date" class="pagination">
						<ul>
							<li><a href="#">&laquo;</a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">&raquo;</a></li>
						</ul>
					</div>

					<table id="todo-list">
					  <tbody data-bind="foreach: expenses">
						<tr>
							<td data-bind="css: { editing: editing_name }">
								<div class="view">
									<label data-bind="text: name, event: { dblclick: $root.editItemName }"></label>
								</div>
								<input class="edit" data-bind="value: name, selectAndFocus: editing_name, valueUpdate: 'afterkeydown', enterKey: $root.stopEditing, event: { blur: $root.stopEditing }">
							</td>
							<td data-bind="css: { editing: editing_plan }">
								<div class="view">
									<label data-bind="text: plan, event: { dblclick: $root.editItemPlan }"></label>
								</div>
								<input class="edit" data-bind="value: plan, valueUpdate: 'afterkeydown', enterKey: $root.stopEditing, selectAndFocus: editing_plan, event: { blur: $root.stopEditing }">
							</td>
							<td>
								<div class="view">
									<label data-bind="text: real"></label>
								</div>
							</td>
						</tr>
						</tbody>
					</table>
					<label>Add new</label><br> <input class="edit" data-bind="value: newExpenseValue, enterKey: newExpense">
				</div>
				
				<div id="transactions">
					<div>
						Load file
						<form action="{% url easyfin.views.upload_file %}" enctype="multipart/form-data" method="post">
							{% csrf_token %}
							Please specify a file, or a set of files:
							<input id="fileupload" type="file" name="file" data-url="{% url easyfin.views.upload_file %}">
						</form>
					</div>
					<div id="transaction_items_table">
					<table >
					<tbody id="transaction_items" data-bind="foreach: newTransactions">
						<tr>
							<td data-bind="text: date"></td>
							<td data-bind="text: comment"></td>
							<td data-bind="text: income"></td>
							<td data-bind="text: outcome"></td>
						</tr>
					</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	
		$("#global_nav a").click(function() {
			$("#global_nav li").removeClass('active');
			$(this).parent().addClass('active');
			
			$("#global_nav_content>div").hide();
			$($(this).attr('href')).show();
		});
	
		function OnTransactionSelection(event, ui) {
			var result = "";
			t = $("#transaction_items .ui-selected")
			t.each(function() {
				var index = $( "#transaction_items tr" ).index(this);
				result += ( " #" + ( index + 1 ) );
			});
		}
	
		$("#transaction_items").selectable({
			  filter: "tr",
		      stop: OnTransactionSelection
		});

		// Django csrf token settings
		var csrftoken = $.cookie('csrftoken');

		function csrfSafeMethod(method) {
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
			crossDomain : false, // obviates need for sameOrigin test
			beforeSend : function(xhr, settings) {
				if (!csrfSafeMethod(settings.type)) {
					xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		// Knockout code
		var ENTER_KEY = 13;

		// a custom binding to handle the enter key (could go in a separate library)
		ko.bindingHandlers.enterKey = {
			init : function(element, valueAccessor, allBindingsAccessor, data) {
				var wrappedHandler, newValueAccessor;

				// wrap the handler with a check for the enter key
				wrappedHandler = function(data, event) {
					if (event.keyCode === ENTER_KEY) {
						valueAccessor().call(this, data, event);
					}
				};

				// create a valueAccessor with the options that we would want to pass to the event binding
				newValueAccessor = function() {
					return {
						keyup : wrappedHandler
					};
				};

				// call the real event binding's init function
				ko.bindingHandlers.event.init(element, newValueAccessor,
						allBindingsAccessor, data);
			}
		};

		// wrapper to hasfocus that also selects text and applies focus async
		ko.bindingHandlers.selectAndFocus = {
			init : function(element, valueAccessor, allBindingsAccessor) {
				ko.bindingHandlers.hasfocus.init(element, valueAccessor,
						allBindingsAccessor);
				ko.utils.registerEventHandler(element, 'focus', function() {
					element.focus();
				});
			},
			update : function(element, valueAccessor) {
				ko.utils.unwrapObservable(valueAccessor()); // for dependency
				// ensure that element is visible before trying to focus
				setTimeout(function() {
					ko.bindingHandlers.hasfocus.update(element, valueAccessor);
				}, 0);
			}
		};

		function Expense(value) {
			var self = this;
			self.name = ko.observable(value.name);
			self.plan = ko.observable(value.plan);
			self.real = ko.observable(value.real);
			self.pk = value.pk;
			self.editing_name = ko.observable(false);
			self.editing_plan = ko.observable(false);
		}

		function TaskListViewModel() {
			// Data
			var self = this;
			self.expenses = ko.observableArray([]);
			self.newTransactions = ko.observableArray([]);
			self.newExpenseValue = ko.observable("");

			$.getJSON("{% url easyfin.views.getExpenses %}", function(allData) {
				$.each(allData, function(index, value) {
					self.expenses.push(new Expense(value));
				});
			});

			self.editItemName = function(item) {
				item.editing_name(true);
			};

			self.editItemPlan = function(item) {
				item.editing_plan(true);
			};

			self.stopEditing = function(item) {
				if (!item.editing_name() && !item.editing_plan())
					return;

				item.editing_name(false);
				item.editing_plan(false);

				$.post('{% url easyfin.views.updateExpense %}', item,
						function(data) {

						});
			};

			self.newExpense = function() {
				var newValue = self.newExpenseValue().trim()
				var lastSpace = newValue.lastIndexOf(" ");
				if (lastSpace == -1) {
					alert("invalid syntax");
					return;
				}

				var item = {};
				item['name'] = newValue.substr(0, lastSpace).trim();
				item['plan'] = newValue.substr(lastSpace + 1);
				item['real'] = "0.0";

				$.post('{% url easyfin.views.newExpense %}', item, function(data) {

				});

				self.expenses.push(new Expense(item));
			};

		}

		var model = new TaskListViewModel();
		ko.applyBindings(model);

		$(function() {
			$('#fileupload').fileupload({
				dataType : 'json',
				done : function(e, data) {
					$.each(data.result.files, function(i, file) {
						$.each(file.data, function(j, row) {
							model.newTransactions.push(row);
						});
					});
				}
			});
		});
	</script>
</body>
</html>
